.DS_Store
target/
.gradle/
.ensime*
credentials.conf
/.idea*
*.iml
*.pyc
*.class
*.iws
*.ipr
out/
tags
.*.swp
.*.swo
build/
derby.log
metastore_db/
.oracle_jre_usage
.terraform/
terraform.tfstate
terraform.tfstate.backup